<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIRI - Voice Assistant</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/50/ffffff/microphone.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"> -->
</head>
<body>
         <div class = "Navbar">
            <div class = "nav1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3"/></svg>

             </div>
            <div class = "nav2">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact</a>
</div>
    </div>
    <div class="container">
        
        <h1>GIRI Voice Assistant 💡</h1>
        <p id="status-text">Click the button and speak your command</p>
        
        <button id="start-btn">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/microphone.png" alt="mic-icon"/>
            
            <div class="orb-shape shape-1"></div>
            <div class="orb-shape shape-2"></div>
            <div class="orb-shape shape-3"></div>
            <div class="orb-shape shape-4"></div>
            <div class="orb-shape shape-5"></div>
        </button>

        <p id="user-command"></p>
        <p id="giri-response"></p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>